<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.safechat.app.safechat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
        android:icon="@drawable/icon"
        android:label="Safechat"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Safechat" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Contacts" >
        </activity>
        <activity
            android:name=".SendMessagesActivity"
            android:label="Send Message" >
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
    </application>

</manifest>
